* {
  margin: 0;
  padding: 0;
  font-family: "Crimson Text";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(110, 197, 110);
}

#panel {
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
}

#ptop {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30%;
  /* padding: 0; */
  background-color: rgb(21, 94, 21);
}

.elem {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  /* gap: 5px; */
  color: #fff;
}

.elem h2 {
  font-weight: 500;
  font-size: 30px;
  /* font-size: 1.2rem; */
}

.box {
  padding: 8px 12px;
  font-weight: 500;
  font-size: 22px;
  color: rgb(21, 94, 21);
  background-color: #fff;
  border-radius: 5px;
}

#pbtm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  height: calc(100% - 70px);
  /* background-color: black; */
}

.bubble {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgb(41, 107, 22);
  border-radius: 50%;
}

.bubble:hover {
  cursor: pointer;
  background-color: rgb(7, 75, 2);
}

/* Media Queries for Responsive Design */
/* Styles for screens between 150px and 250px */
@media screen and (min-width: 100px) and (max-width: 155px) {
  #hit-container,
  #timer-container {
    display: flex;
    position: relative;
    right: 30px;
    margin-left: 3px;
  }

  #score-container {
    margin-top: auto; /* Push Score to the bottom */
    position: relative;
    right: 95px;
    margin-bottom: 5px;
  }
  .elem {
    gap: 3px;
  }

  .elem h2 {
    font-weight: 200;
    font-size: 0.9rem; /* Make elements take full width on smaller screens */
  }

  .bubble {
    width: 10px;
    height: 10px;
    padding: 13px;
    font-size: 15px;
  }

  .box {
    padding: 2px 4px;
    font-size: 0.8rem;
  }

  #pbtm {
    gap: 1px;
    padding: 3px;
  }
}

@media screen and (min-width: 156px) and (max-width: 240px) {
  #ptop {
    padding: 0 5px; /* Remove padding for smaller screens */
  }
  .elem {
    gap: 3px;
  }

  .elem h2 {
    font-weight: 400;
    font-size: 0.7rem; /* Make elements take full width on smaller screens */
  }

  .bubble {
    width: 10px;
    height: 10px;
    padding: 13px;
    font-size: 15px;
  }

  .box {
    padding: 2px 4px;
    font-size: 0.8rem;
  }

  #pbtm {
    gap: 1px;
    padding: 3px;
  }
}

/* Styles for screens between 250px and 350px */
@media screen and (min-width: 240px) and (max-width: 350px) {
  #ptop {
    padding: 0; /* Remove padding for smaller screens */
  }

  .elem {
    gap: 5px;
  }

  .elem h2 {
    font-weight: 400;
    font-size: 1.1rem; /* Make elements take full width on smaller screens */
  }

  .bubble {
    width: 25px;
    height: 25px;
  }

  .box {
    padding: 2px 4px;
    font-size: 1rem;
  }

  #pbtm {
    gap: 6px;
    padding: 4px;
  }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
  #ptop {
    padding: 0 20px; /* Adjusted padding syntax */
  }
  .elem {
    gap: 5px;
  }
  .elem h2 {
    font-size: 20px;
  }
  .box {
    font-size: 15px;
  }
  .bubble {
    width: 30px;
    height: 30px;
  }
}
